* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(35deg,black, blue, red, red, blue, black);
  background-size: cover;
  margin-bottom: 1.5rem;
  top: 0;
  z-index: 2;
}

body {
  font-family: 'PT Serif', serif;
  background-color: rgb(255, 255, 255);
  max-width: 2200px;
}

footer {
  background-image: linear-gradient(35deg,black, blue, red, red, blue, black);
  background-size: cover;
  margin-top: 2rem;
  padding: 2.0rem;
}

article {
  text-align: center;
  color: red;
  padding: 3rem;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px #1437c1;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 70px;
  padding: 0.5rem;
}

.p__intro {
  text-shadow: 1px 1px #1437c1;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  text-shadow: 2px 1px #030303;
  color: rgb(230, 9, 9);
  font-size: 40px;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

}

h3 {
  text-shadow: 1px 1px #030303;
  color: rgb(230, 9, 9);
  font-size: 23px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.0rem;
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  text-shadow: 1px 1px #1437c1;
  font-weight: bold;
  gap: 2rem;
  padding-bottom: 1rem;
}

.nav__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.socials__img {
  padding: 2rem;
}

.socials__img:hover {
  transition: 1000ms ease;
  transform: scale(1.30);
}

.social__icon {
  width: 2.5rem;
}

.music__img {
  padding: 2rem;
}

.music__img:hover {
  transition: 1000ms ease;
  transform: scale(1.30);
}

.music__icon {
  width: 10rem;
}

.collab__img {
  padding: 2rem;
  margin-bottom: 3rem;
}

.collab__icon {
  width: 9rem;
}

.merch__img {
  padding: 2rem;
  margin-bottom: 1rem;
}

.merch__img:hover {
  transition: 1000ms ease;
  transform: scale(1.30);
}

.merch__icon {
  width: 5rem;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

iframe{
  border-radius: 10px;
}

.bio__img {
  width: 10rem;
  margin-bottom: 2.5rem;
}

.bio__text {
  text-shadow: 1px 0px #030303;
  color: rgb(230, 9, 9);
}

.photo__shop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  transition: transform 2000ms ease;
}

.photo__shop:hover {
  transform: scale(1.20);
}

.copyrights {
  text-align: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.shop__icons {
  display: flex;
}

.container1 {
  display: flex;
  justify-content: center;
  background-color: rgb(238, 3, 3);
  width: 25rem;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 10px;
  color: azure;
}

.buttons {
  padding: 0.2rem
}

.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container5 {
  display: flex;
  justify-content: center;
}

/* Aqui comienza GRID */

.container__flex1 {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  justify-content: center;
}

.img__g1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "img1 img2"
  "img3 img4" 
}

.img1 {
  grid-area: img1;
  width: 9.3rem;
}

.img2 {
  grid-area: img2;
  width: 9.3rem;
}

.img3 {
  grid-area: img3;
  width: 9.3rem;
}

.img4 {
  grid-area: img4;
  width: 9.3rem;
}

.img__g2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "img5 img6"
  "img7 img8" 
}

.img5 {
  grid-area: img5;
  width: 9.3rem;
}

.img6 {
  grid-area: img6;
  width: 9.3rem;
}

.img7 {
  grid-area: img7;
  width: 9.3rem;
}

.img8 {
  grid-area: img8;
  width: 9.3rem;
}

.img__g3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "img9 img10"
  "img11 img12" 
}

.img9 {
  grid-area: img9;
  width: 9.3rem;
}

.img10 {
  grid-area: img10;
  width: 9.3rem;
}

.img11 {
  grid-area: img11;
  width: 9.3rem;
}

.img12 {
  grid-area: img12;
  width: 9.3rem;
}

.img__g4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2.3rem;
  grid-template-areas: 
  "img13 img14 img15 img16 img17"
  "img18 img19 img20 img21 img22" 
}

.img13 {
  grid-area: img13;
  width: 9.3rem;
}

.img14 {
  grid-area: img14;
  width: 9.3rem;
}

.img15 {
  grid-area: img15;
  width: 9.3rem;
}

.img16 {
  grid-area: img16;
  width: 9.3rem;
}

.img17 {
  grid-area: img17;
  width: 9.3rem;
}

.img18 {
  grid-area: img18;
  width: 9.3rem;
}

.img19 {
  grid-area: img19;
  width: 9.3rem;
}

.img20 {
  grid-area: img20;
  width: 9.3rem;
}

.img21 {
  grid-area: img21;
  width: 9.3rem;
}

.img22 {
  grid-area: img22;
  width: 9.3rem;
}

.imgall {
  border-radius: 10px;
}

.imgall:hover {
  transition: 1000ms ease;
  transform: scale(1.50);
}

/* Aqui comienza ANIMACION / POSITION / MEDIA QUERIES */

.secretlink {
  position: fixed;
  top: 1rem;
  left: 4rem;
  width: 13rem;
  z-index: 2;
}

.secret__link .secretlink {
  animation: appear 3s ease;
}

@keyframes appear {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.newalbumpic {
  position: fixed;
  top: -3.8rem;
  right: 1rem;
  width: 18rem;
  z-index: 2;
  animation: moving-album 3s ease;
}

@keyframes moving-album {
  0% {
    transform: translateY(0%) translateX(0%);
    opacity: 0;
  }

  20% {
    transform: translateY(-10%);
    opacity: 0.2;
  }

  40% {
    transform: translateX(-10%);
    opacity: 0.4;
  }

  50% {
    rotate: 30deg;
  }

  60% {
    transform: translateX(10%);
    opacity: 0.6;
  }

  80% {
    transform: translateY(10%);
    opacity: 0.8;
  }
 
  100% {
    transform: translateY(0%) translateX(0%);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .secret__link {
    visibility: hidden;
  }

  .newalbumpic {
    visibility: hidden;
  }

  .video {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 1024px) {
.container__flex1 {
  display: flex;
}

.img__g1 {
  display: flex;
  flex-direction: column;
}

.img__g2 {
  display: flex;
  flex-direction: column;
}

.img__g3 {
  display: flex;
  flex-direction: column;
}

.img__g4 {
  display: block;
  margin-left: 5rem;
}

.img__mediaq {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 10rem;
}
}

@media screen and (max-width: 500px) {
  body {
    min-width: 100vh;
  }

  header {
    min-width: 100vh;
  }
}



