h4 {
    @extend h3;
    text-align: center;
}

.social__footer {
    @extend .copyrights;
    .social__footer--title{
        font-size: larger;
        font-weight: bolder;
        text-shadow: 1px 1px black;
        margin-bottom: 2rem;
    }
    .social__icon--footer{
        width: 1.5rem;
        margin-bottom: 2rem;
    }
}