/* RESET CSS y Box-Sizing ( indispensable ) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    /* Aqui comienza Sector Principal - Header, Body, Footer (aqui se aplica Gradients, Estilos de tipografia y Modelo de cajas */
  
    header {
        background-image: $main-gradient;
        background-size: cover;
        margin-bottom: 1.5rem;
        top: 0;
        z-index: 2;
      }
      
      body {
        font-family: 'PT Serif', serif;
        background-color: $main-color;
        max-width: 2200px;
      }
      
      footer {
        background-image: $main-gradient;
        background-size: cover;
        margin-top: 2rem;
        padding: 2.0rem;
      }
      
      article {
        text-align: center;
        color: $secondary-color;
        padding: 3rem;
      }

      .row {
        padding: 0;
        margin: 0;
      }
      
      h1 {
        text-align: center;
        text-shadow: $main-shadow;
        color: $main-color;
        font-weight: bold;
        font-size: 70px;
        padding: 0.5rem;
      }
      
      .p__intro {
        text-shadow: $secondary-shadow;
        color: $main-color;
      }
      
      h2 {
        text-align: center;
        text-shadow: $tertiary-shadow;
        color: $secondary-color;
        font-size: 40px;
        font-weight: bold;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      
      }
      
      h3 {
        text-shadow: $special-shadow;
        color: $secondary-color;
        font-size: 23px;
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 1.0rem;
      }

      /* Aqui comienza Imgs e Iconos y copyrights ( hay aqui aplicadas transform y transition) */
  
  .socials__img {
    padding: 2rem;
    
    .social__icon {
      width: 2.5rem;
    }
    
    &:hover {
      transition: 1000ms ease;
      transform: scale(1.30);
    }
  }

  .music__img {
    padding: 2rem;

    .music__icon {
      width: 10rem;
    }

    &:hover {
      transition: 1000ms ease;
      transform: scale(1.30);
    }
  }
  
  .collab__img {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  
  .collab__icon {
    width: 9rem;
    padding-bottom: 4rem;
  }
  
  .merch__img {
    padding: 1rem;
    margin-bottom: 1rem;

    .merch__icon {
      width: 5rem;
    }

    &:hover {
      transition: 1000ms ease;
      transform: scale(1.30);
    }
  }
  
  iframe{
    border-radius: 10px;
  }
  
  .bio__img {
    width: 10rem;
    margin-bottom: 2.5rem;
  }
  
  .bio__text {
    text-shadow: $text-shadow;
    color: $secondary-color;
  }
  
  .photo__shop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    transition: transform 2000ms ease;

    &:hover {
      transform: scale(1.20);
    }
  }
  
  .copyrights {
    text-align: center;
    text-align: center;
    color: $main-color;
    text-shadow: $special-shadow;
  }

  .imgall {
    border-radius: 10px;
    
    &:hover {
      transition: 1000ms ease;
      transform: scale(1.50);
    }
  }

  .trivia__index {
    @include trivia;

    .trivia__title--index {    
      @include trivia-title;
  }
    .trivia__text--index {
      @include trivia-text;
    }
  }

  .trivia__media {
    @include trivia;
    
    .trivia__title--media {    
      @include trivia-title;
  }
    .trivia__text--media {
      @include trivia-text;
    }
  }

  .trivia__contact {
    @include trivia;
    
    .trivia__title--contact {    
      @include trivia-title;
  }
    .trivia__text--contact {
      @include trivia-text;
    }
  }

  .trivia__collabs {
    @include trivia;
    
    .trivia__title--collabs {    
      @include trivia-title;
  }
    .trivia__text--collabs {
      @include trivia-text;
    }
  }

  .trivia__bio {
    @include trivia;
    
    .trivia__title--bio {    
      @include trivia-title;
  }
    .trivia__text--bio {
      @include trivia-text;
    }
  }

.trivia__div {
  display: flex;
  justify-content: center;
  .trivia__img{
    width: 8rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    &:hover {
      transition: 1000ms ease;
      transform:rotate(-360deg);

    }
  }
}