$main-color: rgb(255, 255, 255);
$main-gradient: linear-gradient(35deg,black, blue, red, red, blue, black);
$main-shadow: 2px 2px #1437c1;
$secondary-shadow: 1px 1px #1437c1;
$secondary-color: rgb(255, 0, 0);
$tertiary-shadow: 2px 1px #030303;
$special-shadow: 1px 1px #030303;
$link-color: rgb(225, 236, 21);
$text-shadow-nohover: 2px 1px #0b3892;
$text-shadow-hover: 2px 1px #000103;
$text-shadow: 1px 0px #030303;

